@import "../styles/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00a6f4;
    --color-secondary: #024a70;
    --color-sky: #63d2f1;
    --color-red: #ef4444;
    --color-green: #22c55e;
    --color-yellow: #f59e0b;
  }
}

html {
  scroll-behavior: smooth;
}


@layer utilities {
  .smooth {
    @apply duration-500;
  }
  .smooth-fast {
    @apply duration-300;
  }
  .smooth-faster {
    @apply duration-150;
  }
}
