@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/font.css";

@layer base {
  :root {
    --color-primary: #00a6f4;
    --color-secondary: #024a70;
    --color-sky: #63d2f1;
    --color-red: #ef4444;
    --color-green: #22c55e;
    --color-yellow: #f59e0b;
  }
}

html {
  scroll-behavior: smooth;
}


@layer utilities {
  .smooth {
    @apply duration-500;
  }
  .smooth-fast {
    @apply duration-300;
  }
  .smooth-faster {
    @apply duration-150;
  }
}

/* app/globals.css */

.hero-bestseller-slider .swiper-pagination-custom .swiper-pagination-bullet {
  background-color: #d1d5db; /* gray-300 */
  opacity: 1;
  width: 8px;
  height: 8px;
  transition: background-color 0.3s ease, width 0.3s ease;
}

.hero-bestseller-slider .swiper-pagination-custom .swiper-pagination-bullet-active {
  background-color: #f97316; /* orange-500 */
  width: 24px;
  border-radius: 9999px;
}

/* Hide default swiper nav on small screens if our custom one is outside */
@media (max-width: 640px) {
  .swiper-button-prev-custom, .swiper-button-next-custom {
    display: none;
  }
}