.message-list {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.blue.400) theme(colors.gray.100);
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: theme(colors.gray.100);
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme(colors.blue.400);
    border-radius: theme(borderRadius.full);
    border: 2px solid theme(colors.gray.100);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: theme(colors.blue.500);
  }
}

@keyframes soft-ping {
  75%, 100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.animate-soft-ping {
  animation: soft-ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}


/* ADMIN */

.chat-message-list {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.slate.400) theme(colors.slate.100);
}

.chat-message-list::-webkit-scrollbar {
  width: 8px;
}

.chat-message-list::-webkit-scrollbar-track {
  background-color: theme(colors.slate.100);
}

.chat-message-list::-webkit-scrollbar-thumb {
  background-color: theme(colors.slate.400);
  border-radius: theme(borderRadius.full);
  border: 2px solid theme(colors.slate.100);
}

.chat-message-list::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.slate.500);
}