@font-face {
  font-family: 'Aquaphonic';
  src: url('../public/font/aquaphonic/Aquaphonic-Damp.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-aquaphonic {
  font-family: 'Aquaphonic', sans-serif;
}